<div class="container pt-3" id="convert_wrapper">
  <div class="loader" v-show="uiParams.loading">

  </div>
  <div class="row justify-content-sm-center" v-cloak>
    <div class="col-md-8 col-sm-8">
      <div class="card border-info">
        <div class="card-header"><a class="btn btn-primary btn-sm" href="/"> <i class="fa fa-home"></i></a> Convert Currency<a class="btn btn-info btn-sm" href="/currency/history" style="float: right!important;"> <i class="fa fa-list"> Conversion History</i></a></div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form class="form-signin">
                <div class="row" v-if="uiParams.showAlert">
                  <div class="col">
                    <div class="alert" :class="uiParams.success ? 'alert-success' : 'alert-danger' " role="alert">
                      {{uiParams.message}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group form-inline">
                      <label for="select_from"> From:</label>
                      <select id="select_from" @change="change_from_handler()" class="form-control" v-model="currency_convert.from" placeholder="Choose currency">
                        <option v-for="option in options.from_options" :value="option.value">
                          {{option.text}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-2">
                    <button :disabled="currency_convert.from == null || currency_convert.to == null" @click="switch_currency($event)" class="btn btn-primary">
                      <i class="fa fa-exchange"></i></button>
                  </div>
                  <div class="col-5">
                    <div class="form-group form-inline">
                      <label for="select_to"> To:</label>
                      <select :disabled="currency_convert.from == null" id="select_to" class="form-control" v-model="currency_convert.to" placeholder="Choose currency">
                        <option v-for="option in options.to_options" :value="option.value">
                          {{option.text}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group form-inline">
                <label for="from_input">Value :</label>
                <input class="form-control" v-model="currency_convert.value" type="number" id="from_input"/>
              </div>
            </div>
            <div class="col-2">
              <button class="btn btn-primary" @click="convert_currency()"><i class="fa fa-arrow-right"></i></button>
            </div>
            <div class="col-5">
              <div class="form-group form-inline">
                <label for="result_input">Result :</label>
                <input class="form-control" v-model="currency_convert.result" type="number" disabled id="result_input"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript" src="/js/currency-convert-form.js">

</script>