<div class="row">
<div class="col-2 align-self-start">

</div>
<div class="col-8 align-self-center">
	<div class="row">
		<div class="col-md-6">
			<div class="card border-secondary mb-3 card-option" style="max-width: 18rem;background-color: #6c757d!important">
				<div class="card-body">
					<img width="100%" src="images/currency.svg" alt="currency_image">
					<h3 class="text-center">Change Currency</h3>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card border-secondary mb-3 card-option" style="max-width: 18rem;background-color: #6c757d!important">
				<div class="card-body">
					<img width="100%" src="images/clipboards.svg" alt="currency_image">
					<h3 class="text-center">Conversion history</h3>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="col align-self-end">

	</div>
</div>