<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.ico"/>
  <!-- Font Awesome integration -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- JS Files-->
  <!-- Bootstrap JS dependencies -->
  <script src="/plugins/jquery/jquery-3.3.1.slim.min.js" ></script>
  <script src="/plugins/popper/popper.min.js" ></script>
  <script src="/plugins/bootstrap/bootstrap.min.js"></script>
  <!-- Vue Js  -->
  <script type="application/javascript" src="/plugins/vue/vue.js"></script>
  <!-- Axios for our API Calls -->
  <script type="application/javascript" src="/plugins/axios/axios.js"></script>
  <!-- MomentJs for date format -->
  <script type="application/javascript" src="/plugins/moment/moment-with-locales.min.js"></script>
  <!-- Include Vue Custom Filter -->
  <script type="application/javascript" src="/js/vue-date-filter.js">
  </script>
  <title>Welcome</title>
</head>
<body>

<%= yield %>

</body>
</html>